/*
Global
*/

#global {
  width: 80%;
  margin: 3rem 10% 0;
  padding: 4rem;
  background-color: rgb(255, 91, 31);
}

#global input,
.command input {
  margin: 1rem;
}

#global h1 {
  margin-bottom: 3rem;
}

#global h2 {
  margin: 2rem 0 1rem;
  text-decoration: underline;
}

.column {
  display: flex;
  flex-direction: column;
}

.number {
  width: 4rem;
}

label {
  width: auto;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

button {
  background-color: lightblue;
  border: 1px solid black;
  padding: 0.8rem 2rem;
  margin-right: 1rem;
  font-weight: bold;
  color: black;
}

button:hover {
  opacity: 0.9;
}

input[type="checkbox"] {
  margin-right: 4rem !important;
}

#windowContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.clideWindow {
  position: relative;
  width: 32%;
  margin: 1rem 1rem 1rem 0;
  padding: 1rem;
  border: 1px solid black;
  background-color: lightblue;
}

.removeButton {
  position: absolute;
  top: 0;
  right: -1rem;
  border: none;
  font-size: 1.5rem;
}

.removeButtonSmall {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  padding: 0.5rem;
  margin: 0;
  font-size: 1rem;
  border-radius: 0.3rem;
}

#keyList {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.triggerKey {
  position: relative;
  background-color: lightblue;
  border-radius: 0.3rem;
  padding: 0.5rem 2rem 0.5rem 1rem;
  margin: 1rem 1rem 1rem 0;
}

#colors input {
  border: 2px solid lightblue;
  height: 3rem;
}

#colorPreview {
  padding: 2rem;
  background-color: black;
  color: white;
  font-weight: bold;
  width: 50%;
}

/*
Commands
*/

#commands {
  width: 80%;
  margin: 0 10%;
}

#commands h1 {
  margin: 2rem 0;
}

.command {
  position: relative;
  padding: 6rem 4rem 2rem;
  background-color: lightblue;
  margin: 2rem 0;
}

.cmd {
  position: absolute;
  width: 94%;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: lightblue;
  font-size: 2rem;
  font-weight: bold;
  border: none;
}

.cmd:focus,
.cmd:hover {
  background-color: rgb(204, 227, 235);
}
